
.titleDistri{
    color: rgb(102, 102, 102);
    font-weight: 500;
}

.containerDistribuidor {
    padding-top: 1rem;
    flex: 1; 
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}

.image-feature-dis{
    width: 250px;
}


.containerDistri{
    display: flex;
}
